/*GENERAL*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 150px 1fr;
    min-height: 100vh;
}


/*ASIDE*/

aside {
    grid-row: 1/-1;
    grid-column: 1 / span 1;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 60px;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 20px;
    align-content: flex-start;
    background-color: #0ea5e9;
}

.site-logo{
    display: flex;
    align-items: center;
    gap: 15px;
}

.dashboard-options1--ul, .dashboard-options2--ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.dashboard-options1--ul>li, .dashboard-options2--ul>li{
    display: flex;
    align-items: center;
    gap: 20px;
}
/*HEADER*/

header {
    grid-column: 2 / -1;
    grid-row: 1 / span 1;
    padding: 0 40px;
    display: grid;
    grid-template-rows: 3fr 7fr;
    grid-template-columns: 7fr 3fr;
    background-color: #fff;
}
.top-header{
    grid-column: 1/-1;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 7fr 3fr;
    padding-top: 15px;
}

.user-notifications-div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
.input-search-div>input {
    width: 100%;
    height: 25px;
}

.btn-list {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    align-items: center;
}




/*MAIN*/

main {
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-template-rows: 1fr 1fr;
    column-gap: 40px;
    padding-top: 30px;
    padding-left: 40px;
    background-color: #e2e8f0;
}

.projects-title {
    margin-bottom: 20px;
}

.projects-section {
    grid-row: span 2;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
    column-gap: 40px;
    row-gap: 50px;
}

.buttons-list {
    display: flex;
}

.trending-section {
    grid-column-start: 2;
}